name: Deploy to Github Pages
on:
    push:
      branches:
        - main
jobs:
    gh-pages-deploy:
      name: Deploying to Github Pages
      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-node@v4
            with:
              node-version: '20'
          - name: Set Creds
            run: git config user.name "tyler.hadx@gmail.com" && git config user.email "tyler.hadx@gmail.com"
          - name: Remove packages
            working-directory: ./dakotatrophyadventures
            run: rm -rf node_modules
          - name: Install packages
            working-directory: ./dakotatrophyadventures
            run: npm install
          - name: Deploy
            working-directory: ./dakotatrophyadventures
            run: npm run deploy
